<!DOCTYPE html>
<html lang="en" ng-app="UploadApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body ng-cloak ng-controller="UploadController as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h2>Upload File (Local storage)</h2>
                <form name="UploadForm" novalidate ng-submit="ctrl.upload()" autocomplete="off">
                    <div class="form-group">
                        <input type="file" id="file" ng-model="ctrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                    </div>
                    <div class="form-group">
                        <img ngf-thumbnail="ctrl.imgFile" width="500px" class="img-thumbnail">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </div>

                    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code" ng-class="{'alert-success': ctrl.status.code == 200, 'alert-danger': ctrl.status.code == 400 }">
                            <button class="close" data-dismiss="alert">
                           &times;
                        </button> {{ ctrl.status.message }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <h2>Upload File (S3)</h2>
                    <form name="UploadS3Form" novalidate ng-submit="ctrl.uploadS3()" autocomplete="off">
                        <div class="form-group">
                            <input type="file" id="file" ng-model="ctrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                        </div>
                        <div class="form-group">
                            <img ngf-thumbnail="ctrl.imgFile" width="500px" class="img-thumbnail">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Upload</button>
                        </div>
    
                        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code" ng-class="{'alert-success': ctrl.status.code == 200, 'alert-danger': ctrl.status.code == 400 }">
                                <button class="close" data-dismiss="alert">
                               &times;
                            </button> {{ ctrl.status.message }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

<!-- core libraries -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script type="text/javascript" src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>


<!-- my app -->
<script type="text/javascript" src="/app/app.module.js"></script>
<script type="text/javascript" src="/app/upload/upload.controller.js"></script>

</html>
